body {
    /* background: -webkit-linear-gradient(to right, #93F9B9, #1D976C); 
    background: linear-gradient(to right, #93F9B9, #1D976C);  */
    /* background-color: #a5b1c2; */
    background-color: #c0b7a3;
}

.feedback{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.f-cont {
    border-radius: 8px;
    box-shadow: 2px 5px 14px 0px grey;
    background-color: #fff;
}

.form-control {
    border-top: unset !important;
    border-left: unset !important;
    border-right: unset !important;
    border-bottom: 1px solid #ced4da !important;
    border-radius: unset !important;
}

h5 {
    font-weight: 400;
}

/* .btn {
    background-color: #1D976C !important;
    border: unset !important;
} */

.input-group-text {
    background-color: transparent !important;
    border: unset !important;
}
@media (max-width: 480px) {
    .feedback {
        width: 100% !important;
    }
    .input-group-text {
        margin-right: 0;
    }
    .f-cont {
        padding: 10px !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .feedback {
        width: 80% !important;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .feedback {
        margin-top: 3rem !important;
    }
}

@media (min-width: 1441px) {
    .feedback {
        margin-top: 13% !important;
    }
}